<div>
  <h2 id="page-heading" data-cy="BssHeading">
    <span jhiTranslate="gatewayApp.bss.home.title">Bsses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.bss.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bss"
        [routerLink]="['/bss/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.bss.home.createLabel"> Create a new Bss </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bsses?.length === 0">
    <span jhiTranslate="gatewayApp.bss.home.notFound">No bsses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bsses && bsses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.name">Name</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.address">Address</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.serialNumber">Serial Number</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.hwVersion">Hw Version</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.swVersion">Sw Version</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.manufactureDate">Manufacture Date</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.lon">Lon</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.lat">Lat</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.typeCode">Type Code</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.cabNum">Cab Num</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.cabEmptyNum">Cab Empty Num</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.bpReadyNum">Bp Ready Num</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.bss.swapBpNo">Swap Bp No</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bss of bsses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bss', bss.id, 'view']">{{ bss.id }}</a>
          </td>
          <td>{{ bss.name }}</td>
          <td>{{ bss.address }}</td>
          <td>{{ bss.serialNumber }}</td>
          <td>{{ bss.hwVersion }}</td>
          <td>{{ bss.swVersion }}</td>
          <td>{{ bss.manufactureDate }}</td>
          <td>{{ bss.lon }}</td>
          <td>{{ bss.lat }}</td>
          <td>{{ bss.typeCode }}</td>
          <td>{{ bss.cabNum }}</td>
          <td>{{ bss.cabEmptyNum }}</td>
          <td>{{ bss.bpReadyNum }}</td>
          <td>{{ bss.swapBpNo }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bss', bss.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/bss', bss.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bss)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
