<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-vehicle-state-heading"
        data-cy="VehicleStateCreateUpdateHeading"
        jhiTranslate="gatewayApp.vehicleState.home.createOrEditLabel"
      >
        Create or edit a Vehicle State
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.vehicleState.speed" for="field_speed">Speed</label>
          <input type="number" class="form-control" name="speed" id="field_speed" data-cy="speed" formControlName="speed" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.vehicleState.lat" for="field_lat">Lat</label>
          <input type="number" class="form-control" name="lat" id="field_lat" data-cy="lat" formControlName="lat" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.vehicleState.lon" for="field_lon">Lon</label>
          <input type="number" class="form-control" name="lon" id="field_lon" data-cy="lon" formControlName="lon" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.vehicleState.error" for="field_error">Error</label>
          <input type="number" class="form-control" name="error" id="field_error" data-cy="error" formControlName="error" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.vehicleState.serialNumber" for="field_serialNumber">Serial Number</label>
          <input
            type="text"
            class="form-control"
            name="serialNumber"
            id="field_serialNumber"
            data-cy="serialNumber"
            formControlName="serialNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.vehicleState.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.vehicleState.odo" for="field_odo">Odo</label>
          <input type="number" class="form-control" name="odo" id="field_odo" data-cy="odo" formControlName="odo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.vehicleState.power" for="field_power">Power</label>
          <input type="number" class="form-control" name="power" id="field_power" data-cy="power" formControlName="power" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.vehicleState.throttle" for="field_throttle">Throttle</label>
          <input type="number" class="form-control" name="throttle" id="field_throttle" data-cy="throttle" formControlName="throttle" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.vehicleState.time" for="field_time">Time</label>
          <div class="d-flex">
            <input
              id="field_time"
              data-cy="time"
              type="datetime-local"
              class="form-control"
              name="time"
              formControlName="time"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
