<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-rental-history-heading"
        data-cy="RentalHistoryCreateUpdateHeading"
        jhiTranslate="gatewayApp.rentalHistory.home.createOrEditLabel"
      >
        Create or edit a Rental History
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.rentalHistory.userId" for="field_userId">User Id</label>
          <input type="number" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.rentalHistory.batteryId" for="field_batteryId">Battery Id</label>
          <input type="number" class="form-control" name="batteryId" id="field_batteryId" data-cy="batteryId" formControlName="batteryId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.rentalHistory.timeStart" for="field_timeStart">Time Start</label>
          <div class="d-flex">
            <input
              id="field_timeStart"
              data-cy="timeStart"
              type="datetime-local"
              class="form-control"
              name="timeStart"
              formControlName="timeStart"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.rentalHistory.timeEnd" for="field_timeEnd">Time End</label>
          <div class="d-flex">
            <input
              id="field_timeEnd"
              data-cy="timeEnd"
              type="datetime-local"
              class="form-control"
              name="timeEnd"
              formControlName="timeEnd"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
