<div>
  <h2 id="page-heading" data-cy="VehicleStateHeading">
    <span jhiTranslate="gatewayApp.vehicleState.home.title">Vehicle States</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.vehicleState.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle-state"
        [routerLink]="['/vehicle-state/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.vehicleState.home.createLabel"> Create a new Vehicle State </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicleStates?.length === 0">
    <span jhiTranslate="gatewayApp.vehicleState.home.notFound">No vehicleStates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vehicleStates && vehicleStates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.vehicleState.speed">Speed</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.vehicleState.lat">Lat</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.vehicleState.lon">Lon</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.vehicleState.error">Error</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.vehicleState.serialNumber">Serial Number</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.vehicleState.status">Status</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.vehicleState.odo">Odo</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.vehicleState.power">Power</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.vehicleState.throttle">Throttle</span></th>
          <th scope="col"><span jhiTranslate="gatewayApp.vehicleState.time">Time</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicleState of vehicleStates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vehicle-state', vehicleState.id, 'view']">{{ vehicleState.id }}</a>
          </td>
          <td>{{ vehicleState.speed }}</td>
          <td>{{ vehicleState.lat }}</td>
          <td>{{ vehicleState.lon }}</td>
          <td>{{ vehicleState.error }}</td>
          <td>{{ vehicleState.serialNumber }}</td>
          <td>{{ vehicleState.status }}</td>
          <td>{{ vehicleState.odo }}</td>
          <td>{{ vehicleState.power }}</td>
          <td>{{ vehicleState.throttle }}</td>
          <td>{{ vehicleState.time | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicle-state', vehicleState.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vehicle-state', vehicleState.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vehicleState)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
