<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cabinet-heading" data-cy="CabinetCreateUpdateHeading" jhiTranslate="gatewayApp.cabinet.home.createOrEditLabel">
        Create or edit a Cabinet
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.cabinet.bssId" for="field_bssId">Bss Id</label>
          <input type="number" class="form-control" name="bssId" id="field_bssId" data-cy="bssId" formControlName="bssId" />
          <div *ngIf="editForm.get('bssId')!.invalid && (editForm.get('bssId')!.dirty || editForm.get('bssId')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('bssId')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('bssId')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.cabinet.bpId" for="field_bpId">Bp Id</label>
          <input type="number" class="form-control" name="bpId" id="field_bpId" data-cy="bpId" formControlName="bpId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.cabinet.bpReady" for="field_bpReady">Bp Ready</label>
          <input type="checkbox" class="form-check" name="bpReady" id="field_bpReady" data-cy="bpReady" formControlName="bpReady" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.cabinet.swapNo" for="field_swapNo">Swap No</label>
          <input type="number" class="form-control" name="swapNo" id="field_swapNo" data-cy="swapNo" formControlName="swapNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.cabinet.stateCode" for="field_stateCode">State Code</label>
          <input type="number" class="form-control" name="stateCode" id="field_stateCode" data-cy="stateCode" formControlName="stateCode" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
