<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="org">
      <h2 data-cy="orgDetailsHeading"><span jhiTranslate="gatewayApp.org.detail.title">Org</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ org.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.org.orgId">Org Id</span></dt>
        <dd>
          <span>{{ org.orgId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/org', org.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
